<h1>New Task</h1>
<form method="post" action="/tasks">
  <fieldset>
    <label for="task">Task</label>
    <input id="task" type="text" name="task" required>
  </fieldset>
  <fieldset>
    <label for="complete">Complete?</label>
    <input id="complete" type="checkbox" name="complete">
  </fieldset>
  <fieldset>
    <input type="submit" value="Create Task">
  </fieldset>
</form>
