<h1>New Task</h1>

<% if @task && @task.errors %>
  <div class="error">
    <% @task.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>

<form method="post" action="/tasks">
  <fieldset>
    <label for="task">Task</label>
    <input id="task" type="text" name="task" required autofocus>
  </fieldset>
  <fieldset>
    <label for="complete">Complete?</label>
    <input id="complete" type="checkbox" name="complete">
  </fieldset>
  <fieldset>
    <input type="submit" value="Create Task">
  </fieldset>
</form>
