<h1>Sign in</h1>

<% if @user && @user.errors %>
  <div class="error">
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>

<form method="post" action="/signin">
  <fieldset>
    <label for="username">Username or email</label>
    <input id="username" type="text" name="email" required>
  </fieldset>
  <fieldset>
    <label for="password" for>Password</label>
    <div class="pass-wrap">
      <input id="password" type="password" name="password" required>
      <div id="revealpass" title="show password">
        <svg id="eye"><use xlink:href="/img/sprite.svg#eye"></use></svg>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <input type="submit" value="Sign in">
  </fieldset>
</form>

<p>Don't already have an account? <a href="/signup">Sign up</a>.</p>
