<!doctype html>
<html lang="en">
  <head>
    <title>T A S K</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link type="text/plain" rel="author" href="/humans.txt">
    <meta name="theme-color" content="#0474F3">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="/">TASK</a>
      </div>
      <% if logged_in? %>
        <a href="/logout" class="button">Log Out</a>
      <% else %>
        <a href="/signin" class="button">Sign In</a>
      <% end %>
    </nav>
    <div id="content-wrapper">
  
      <%= yield %>

    </div>
    <% if logged_in? %>
      <footer>
        <a href="/tasks/new" class="button" title="New Note">
          <span>+</span>
        </a>
      </footer>
    <% end %>


    <script src="/js/bundle.js"></script>
  </body>
</html>
